@using BetterPrice.Services
@model BetterPrice.ViewModels.ProdutoListVM

<div class="container cards-container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.Itens)
        {
            @await Html.PartialAsync("Components/_ProdutoCard", new { Item = item, EhCarrinho = false})                                                   
        }
    </div>
</div>