@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Conta" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Conta" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-page="/Cadastro" asp-area="Conta" class="btn btn-primary">
            <i class="bi bi-box-arrow-in-right"></i> Entrar / Cadastre-se
        </a>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Conta" asp-page="/Cadastro">Register</a>
    </li>
    -->
}
</ul>
