body {
   background-color: #f8f9fa;
}

.navbar {
   background-color: #007bff;
}

.brand-title {
   font-size: 1.8rem; /* Aumenta o tamanho da fonte do nome */
   font-weight: bold;
   color: #fff;
}

.navbar-nav .nav-link {
   color: #fff !important;
   font-size: 1.1rem; /* Tamanho das opções de navegação */
}

.main-content {
   margin-top: 30px;
}
.navbar-nav {
   justify-content: center; /* Centraliza os itens */
}
footer {
   background-color: #00186C;
   color: #fff;
   padding: 10px;
   text-align: center;
   width: 100%;
   /* Remover o position: fixed */
}

.navbar-nav.mx-auto {
   flex: 1;
   justify-content: center;
}
/* Ajuste dos icones */
.nav-link i {
   font-size: 1.5rem;
}
/* Caixa de pesquisa com largura fixa e centralizada */
form {
   width: 100%;
   max-width: 500px; /* Largura máxima da caixa de pesquisa */
   margin: 0 auto; /* Centraliza o formulário */
}

/* Usar flexbox para alinhar a caixa de pesquisa e o bot�o */
form {
   display: flex; /* Alinha os itens horizontalmente */
   justify-content: center; /* Centraliza os itens */
}

/* Garantir que o campo de pesquisa ocupe a maior parte do espa�o */
form .form-control {
   flex: 1; /* Faz a caixa de pesquisa ocupar todo o espa�o dispon�vel */
   max-width: 380px; /* Define uma largura m�xima */
   margin-right: 10px; /* Espa�amento entre a caixa de pesquisa e o bot�o */
}


/* Em telas maiores, aumentar um pouco a largura */
@media (min-width: 768px) {
   form .form-control {
       max-width: 500px; /* Um pouco maior em telas grandes */
   }
}

.carousel-item img {
   width: 250px; /* Largura padr�o das imagens */
   height: 220px; /* Altura das imagens */
}

/* Responsividade */
@media (max-width: 768px) {
   .carousel-item img {
       width: 180px; /* Largura das imagens em telas menores */
   }
   .carousel-item {
       justify-content: center; /* Ajusta o alinhamento para telas menores */
   }
}

@media (max-width: 576px) {
   .carousel-item img {
       width: 150px; /* Largura das imagens em telas muito pequenas */
   }
}
.card-price {
   font-size: 1.2rem;
   font-weight: bold;
   color: #007bff;
}
/* Limitar a largura dos cards e centralizar */
.cards-container {
   max-width: 900px;
   margin: 0 auto;
   padding-bottom: 50px; /* Espaçamento extra para evitar sobreposição com o footer */
}

/* Ajuste individual para cada card */
.card {
   width: 100%; /* Faz os cards ocuparem toda a largura da coluna */
}
