@page
@model BetterPrice.Pages.CarrinhoModel
@{
@if (Model.ProdutosPorMercados is not null && Model.ProdutosPorMercados.Any())
{
    @foreach(var produtosPorMercado in Model.ProdutosPorMercados)
    {
        <div class="market-section mb-5">
            <h2 class="mb-3">@produtosPorMercado.Mercado.Nome</h2>
            <div class="row g-4">

            @foreach (var item in produtosPorMercado.Items)
            {
                @await Html.PartialAsync("Components/_ProdutoCard", new { Item = item, EhCarrinho = true})                          
            }
            </div>
            <div class="mt-3 fw-bold">@($"Total mercado {produtosPorMercado.Mercado.Nome}: R$ {produtosPorMercado.TotalPorMercado():N2)}")</div>
        </div>
    }
}
else
{
    <div class="container main-content d-flex flex-column justify-content-center align-items-center text-center" style="height: 50vh;">
        <h1>Nenhum item no carrinho</h1>
    </div>

    
}
}