@page
@using BetterPrice.Pages.Components
@using BetterPrice.ViewModels
@model BetterPrice.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Conteúdo principal centralizado com caixa de pesquisa -->
<div class="container main-content d-flex flex-column justify-content-center align-items-center text-center" style="height: 50vh;">
    <div>

        <h1>Bem-vindo ao BetterPrice!</h1>
        <p>Explore nossas ofertas e encontre o melhor preço para você.</p>

        <!-- Caixa de pesquisa com bordas arredondadas -->
        <form role="search" class="search-form d-flex justify-content-center align-items-center">
            <input asp-for="Filtro.Nome" class="search-form form-control me-2 rounded-pill" type="search" placeholder="Pesquisar produtos..." aria-label="Pesquisar">
            <button class="btn btn-outline-primary rounded-pill" asp-page-handler="Pesquisa" type="submit">Buscar</button>
        </form>
        
       @await Component.InvokeAsync("MercadosCarousel")
    </div>
</div>  

@await Component.InvokeAsync("ProdutoList", new
{
    tipoListaProduto = TipoListaProduto.Cards,
    filtroProduto = new FiltroProduto() { ApenasDestaques = true }
})
