@page
@using BetterPrice.Pages.Components
@using BetterPrice.Services
@using BetterPrice.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BetterPrice.Pages.ProdutosModel
@{
    <div class="container mt-4">
        <div class="row">
            <!-- Filtros Laterais -->
            <aside class="col-sm-3 col-md-2 col-lg-2">
                <h4>Filtros</h4>
                <form method="post" asp-page-handler="Pesquisa">
                    <!-- Ordenar Preço section -->
                    <div class="mb-3">
                        <h5>Ordenar Preços</h5>
                        <div class="form-check">
                            <input class="form-check-input" name="ordenacao" type="radio" value="semOrdenar" id="semOrdenar" asp-for="Ordenacao" checked>
                            <label class="form-check-label" for="semOrdenar">Sem ordenação</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="ordenacao" type="radio" value="menorMaior" id="menorMaior" asp-for="Ordenacao">
                            <label class="form-check-label" for="menorMaior">Menor para maior</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="ordenacao" type="radio" value="maiorMenor" id="maiorMenor" asp-for="Ordenacao">
                            <label class="form-check-label" for="maiorMenor">Maior para menor</label>
                        </div>
                    </div>

                    <!-- Preço Section -->
                    <div class="mb-3">
                        <h5>Preço</h5>
                        <div class="form-check">
                            <input class="form-check-input" name="filtroPreco" type="radio" value="todosPrecos" id="todosPrecos" asp-for="FiltroPreco" checked>
                            <label class="form-check-label" for="todosPrecos">Todos os preços</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="filtroPreco" type="radio" value="ate50" id="ate50" asp-for="FiltroPreco">
                            <label class="form-check-label" for="ate50">Até R$ 50</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="filtroPreco" type="radio" value="51a200" id="51a200" asp-for="FiltroPreco">
                            <label class="form-check-label" for="51a200">R$ 51 - R$ 200</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="filtroPreco" type="radio" id="acima200" value="acima200" asp-for="FiltroPreco">
                            <label class="form-check-label" for="acima200">Acima de R$ 200</label>
                        </div>
                    </div>
                    <!-- Categorias Section -->
                    <div class="mb-3">
                        <h5>Categorias</h5>
                        @foreach(var categoria in Model.Categorias)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="CategoriasSelecionadas" value="@categoria.Id" id="cat-@categoria.Id">
                                <label class="form-check-label" for="cat-@categoria.Id">@categoria.Nome</label>
                            </div>
                        }
                    </div>
                    
                    <!-- Departamentos Section -->
                    <div>
                        <h5>Departamentos</h5>
                        @foreach(var departamento in Model.Departamentos)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="DepartamentosSelecionados" value="@departamento.Id" id="dep-@departamento.Id">
                                <label class="form-check-label" for="dep-@departamento.Id">@departamento.Nome</label>
                            </div>
                        }
                    </div>
                    
                    <!-- Botão filtro -->
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn login btn-primary">Aplicar filtros</button>
                    </div>
                </form>
            </aside>

            <!-- Main Content -->
            <div class="col-md-9">
                <form method="post" role="search" asp-page-handler="Pesquisa" class="d-flex justify-content-center align-items-center">
                    <input asp-for="Filtro.Nome" class="form-control me-2 rounded-pill" type="search" placeholder="Pesquisar produtos..." aria-label="Pesquisar">
                    <button class="btn btn-outline-primary rounded-pill" type="submit">Buscar</button>
                </form>
                <h5>Resultados</h5>
                @await Component.InvokeAsync("ProdutoList", new
                {
                    tipoListaProduto = TipoListaProduto.Cards,
                    filtroProduto = Model.Filtro
                })
            </div>
        </div>
    </div>
}
